body {
    margin:0; padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.radio-groups {
    text-align: center;
}

.form-horizontal .control-label {
    text-align: left;
}